services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: mi-app:optimizado
    container_name: mi-app-backend
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/appdb
    depends_on:
      - mongo
    ports:
      - "3000:3000"  # Acceso local: http://localhost:3000
    networks:
      - app-net
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: mongo
    environment:
      - MONGO_INITDB_DATABASE=appdb
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net
    restart: unless-stopped

networks:
  app-net:
    driver: bridge

volumes:
  mongo-data: